@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "typo";
  src: local("typo"),
    url(./assets/fonts/typo-grotesk-thin.otf) format("truetype");
}
@font-face {
  font-family: "dona";
  src: local("dona"),
    url(./assets/fonts/DonaAlt-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "tuyet";
  src: local("tuyet"),
    url(./assets/fonts/P22\ Ornes\ W00\ Bold\ SC.ttf) format("opentype");
}
@layer base {
  *{
    scroll-behavior: smooth;
  }
  body {
    font-family: "quicksand";
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
}
